Lecture 8<br>
Day: wednesday<br>
Date: Oct 06th 2021

### Problem Solve:

In [1]:
import numpy as np

In [2]:
import os

In [3]:
import random

In [8]:
Quiz = np.random.randint(0,16,size =40)

In [9]:
print(Quiz)

[ 6 14  8  9 13 14 15  8 11  7  2  0  0  7  8  6 14  0  1 14  7  2  0 10
 13 11 13 13  7 14  7  6  1  8  1 11 13 14 12 11]

In [10]:
Assignment = np.random.randint(0,51, size = 50)

In [11]:
print(Assignment)

[33 37 18 42 38 46  6 36 49 24 17 44 12 41  8 47 21 29 10  4  2 43 48 17
 44 45 39 23  9 31 13 26 21 34 24  6  7  9 50 29  4 14 37 29  3 21 39 23
 33 15]

In [12]:
Mid= np.random.randint(0,81, size= 80)

In [14]:
print(Mid)

[59 10 51 60 36 62 75 41 66 44 41 56  3 63 29 15 27 54 22 74  1 71 74 51
 22 59 74 11 26 74  8 21 50 53 71 59 51 34 41 33  4 78 53 76 36  6 49  9
  8 28 31 37 12  8 25  6 50 37 10 14 62 30  8 52 32  5 69 74 42 35  0 65
 42  8 22 51 41 16 36 12]

In [15]:
Final = np.random.randint(0, 151, size = 150 )

In [16]:
print(Final)

[ 49  93 144  54 119  67 138  91 126  53 104 112  81  77   2  74  63  69
  47  88 117  97  39 111  65  60  96 101 113  48  67  41  62  72  20  37
   0  27   9  97 140  95 140 118  50  42  27 122  53  65  75 116 129 128
  13  45  68  65  84  88 108 145  78 136  93  81  31 126  85   1  13  13
  89 150  60   7 124  54  67  98  63  41  15  43 130 124 125 146   5   8
  87  32  55  91  94  58  64  85 115  13  58 100  79  20 144  70  71 136
  20  92  30  23  43  60   1  81   5  22  64  90  52 100  21  17 131 111
  49  73  56  58 108  22  96  46 131  73  72  45 112  56  14  43  46  97
  49  95 118  68   4  55]

In [32]:
Quiz_Sum = (Quiz/15) * 30

In [33]:
print(Quiz_Sum)

[12. 28. 16. 18. 26. 28. 30. 16. 22. 14.  4.  0.  0. 14. 16. 12. 28.  0.
  2. 28. 14.  4.  0. 20. 26. 22. 26. 26. 14. 28. 14. 12.  2. 16.  2. 22.
 26. 28. 24. 22.]

In [30]:
Final_Sum= (Final/150)* 40

In [31]:
print(Final_Sum)

[13.06666667 24.8        38.4        14.4        31.73333333 17.86666667
 36.8        24.26666667 33.6        14.13333333 27.73333333 29.86666667
 21.6        20.53333333  0.53333333 19.73333333 16.8        18.4
 12.53333333 23.46666667 31.2        25.86666667 10.4        29.6
 17.33333333 16.         25.6        26.93333333 30.13333333 12.8
 17.86666667 10.93333333 16.53333333 19.2         5.33333333  9.86666667
  0.          7.2         2.4        25.86666667 37.33333333 25.33333333
 37.33333333 31.46666667 13.33333333 11.2         7.2        32.53333333
 14.13333333 17.33333333 20.         30.93333333 34.4        34.13333333
  3.46666667 12.         18.13333333 17.33333333 22.4        23.46666667
 28.8        38.66666667 20.8        36.26666667 24.8        21.6
  8.26666667 33.6        22.66666667  0.26666667  3.46666667  3.46666667
 23.73333333 40.         16.          1.86666667 33.06666667 14.4
 17.86666667 26.13333333 16.8        10.93333333  4.         11.46666667
 34.66666667 33.06666667 33.33333333 38.93333333  1.33333333  2.13333333
 23.2         8.53333333 14.66666667 24.26666667 25.06666667 15.46666667
 17.06666667 22.66666667 30.66666667  3.46666667 15.46666667 26.66666667
 21.06666667  5.33333333 38.4        18.66666667 18.93333333 36.26666667
  5.33333333 24.53333333  8.          6.13333333 11.46666667 16.
  0.26666667 21.6         1.33333333  5.86666667 17.06666667 24.
 13.86666667 26.66666667  5.6         4.53333333 34.93333333 29.6
 13.06666667 19.46666667 14.93333333 15.46666667 28.8         5.86666667
 25.6        12.26666667 34.93333333 19.46666667 19.2        12.
 29.86666667 14.93333333  3.73333333 11.46666667 12.26666667 25.86666667
 13.06666667 25.33333333 31.46666667 18.13333333  1.06666667 14.66666667]

In [21]:
Mid_Sum = (Mid / 10 )* 20

In [22]:
print(Mid_Sum)

[590. 100. 510. 600. 360. 620. 750. 410. 660. 440. 410. 560.  30. 630.
 290. 150. 270. 540. 220. 740.  10. 710. 740. 510. 220. 590. 740. 110.
 260. 740.  80. 210. 500. 530. 710. 590. 510. 340. 410. 330.  40. 780.
 530. 760. 360.  60. 490.  90.  80. 280. 310. 370. 120.  80. 250.  60.
 500. 370. 100. 140. 620. 300.  80. 520. 320.  50. 690. 740. 420. 350.
   0. 650. 420.  80. 220. 510. 410. 160. 360. 120.]

In [34]:
Assignment_Sum = (Assignment / 50) * 30

In [35]:
print(Assignment_Sum)

[19.8 22.2 10.8 25.2 22.8 27.6  3.6 21.6 29.4 14.4 10.2 26.4  7.2 24.6
  4.8 28.2 12.6 17.4  6.   2.4  1.2 25.8 28.8 10.2 26.4 27.  23.4 13.8
  5.4 18.6  7.8 15.6 12.6 20.4 14.4  3.6  4.2  5.4 30.  17.4  2.4  8.4
 22.2 17.4  1.8 12.6 23.4 13.8 19.8  9. ]

In [27]:
Final_Marks = Assignment_Sum + Mid_Sum+ Final_Sum +   Quiz_Sum
print(Final_Marks)

ValueError: operands could not be broadcast together with shapes (50,) (80,)

In [37]:
import pandas as pd

In [38]:
# Create a basic Series:
x = pd.Series([1,2,3,4,5,6,7,8])
# left side are the index 
# in Series

In [39]:
print(x)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [71]:
# in this we can also assign the index in series as well
data_new = [1,2,3,4]
index_new= ['a','b','c','d']
eye = pd.Series(data=data_new , index=index_new )
print(eye)

a    1
b    2
c    3
d    4
dtype: int64

In [44]:
# There are different attributies
# All of the array function can be imported in the series as well,
ser.name
ser.index
ser.values
ser.sort_values()
ser.sort_index()

SyntaxError: invalid syntax (<ipython-input-44-adf280dd3d6d>, line 6)

In [45]:
# Splicaing the values and print data using range as well
x = pd.Series([1,2,3,4,5,6,7,8])

In [46]:
x[1]

2

In [55]:
# while adding the index must me same if index are not same then the operation will not be formed
# the above will only be implmented when there are two series but if there is one series then you can add vales in the index

In [59]:
# for One Series
x[3]=x[1]+ x[2]

In [57]:
x[3]

5

In [58]:
print(x)

0    1
1    2
2    3
3    5
4    5
5    6
6    7
7    8
dtype: int64

In [60]:
# For Two Series:
x = pd.Series([1,2,3,4,5,6,7,8])
y = pd.Series([17,9,10,11,12,13,15,16])
z = x+y

In [61]:
# As you can see the same index values are sum.
print(z)

0    18
1    11
2    13
3    15
4    17
5    19
6    22
7    24
dtype: int64

# Exercise

In [66]:
my_index =['a','b','c']
my_values = [223,224,334]
my_dict = {'a':222, 'b':333, 'c':334}
my_arr = np.array(my_values)

In [67]:
pd.Series(my_values)

0    223
1    224
2    334
dtype: int64

In [73]:
pd.Series(data= my_values, index= my_index)

a    223
b    224
c    334
dtype: int64

In [74]:
pd.Series(my_arr)

0    223
1    224
2    334
dtype: int64

In [75]:
pd.Series(my_dict)

a    222
b    333
c    334
dtype: int64

1.2. Series attributes and indexing:

In [76]:
s = pd.Series(data =[111,222,333,444], index= ['a','b','c','d'], name= 'MySeries')

In [78]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [79]:
s.name

'MySeries'

In [80]:
s.dtype

dtype('int64')

In [81]:
s[1]

222

In [82]:
s['a']

111

In [83]:
s[['a','d']]

a    111
d    444
Name: MySeries, dtype: int64

In [84]:
s1 = pd.Series(data=[1,2,3,4], index = ['d','b','c','a'])
s2 = pd.Series(data=[1,2,3,4], index = ['a','b','d','e'])

In [86]:
s1 + s2

a    5.0
b    4.0
c    NaN
d    4.0
e    NaN
dtype: float64

In [87]:
s1-s2

a    3.0
b    0.0
c    NaN
d   -2.0
e    NaN
dtype: float64

In [88]:
s1* s2

a    4.0
b    4.0
c    NaN
d    3.0
e    NaN
dtype: float64

In [89]:
s1/s2

a    4.000000
b    1.000000
c         NaN
d    0.333333
e         NaN
dtype: float64

In [90]:
2*s1

d    2
b    4
c    6
a    8
dtype: int64

In [91]:
s1.sum()

10

In [92]:
s1.mean()

2.5

In [93]:
s1.median()

2.5

In [94]:
s1.max()

4

In [95]:
s1.std()

1.2909944487358056

In [97]:
s1.sort_values()

d    1
b    2
c    3
a    4
dtype: int64

In [99]:
s1.sort_index()

a    4
b    2
c    3
d    1
dtype: int64

In [100]:
ser_height = pd.Series([165.3, 170.1, 175.0, 182.1, 168.0, 162.0, 155.2, 176.9, 178.5, 176.1, 167.1, 180.0, 162.2, 176.1, 158.2, 168.6, 169.2],name='height')
ser_height

0     165.3
1     170.1
2     175.0
3     182.1
4     168.0
5     162.0
6     155.2
7     176.9
8     178.5
9     176.1
10    167.1
11    180.0
12    162.2
13    176.1
14    158.2
15    168.6
16    169.2
Name: height, dtype: float64

In [102]:
ser_height.apply(lambda x : x/100)

0     1.653
1     1.701
2     1.750
3     1.821
4     1.680
5     1.620
6     1.552
7     1.769
8     1.785
9     1.761
10    1.671
11    1.800
12    1.622
13    1.761
14    1.582
15    1.686
16    1.692
Name: height, dtype: float64

# Data Frame:

In [105]:
# it's s 2D array and it is used the most
# the list of Numpy is that all of the data type must be same

In [106]:
# to create a data frame

# Exercise 05

In [107]:
import pandas as pd
import numpy as np
import os

In [113]:
data = {'Name': ['Jake','Jennifer', 'Rafay', 'Paul Walker', ' Jake Paul'], 'Age': [24,21,25,19,22], 'Gender': ['M','F','M','M','M']}

# this will print data into the dataframe

In [114]:
df=pd.DataFrame(data)
df

          Name  Age Gender
0         Jake   24      M
1     Jennifer   21      F
2        Rafay   25      M
3  Paul Walker   19      M
4    Jake Paul   22      M

### Reading data from DataFrame:

In [ ]:
df.pd.read_cdv('')