### Lecture 04
### Day: Thrusday
### Name: Mohammad Abdul Rafay
### Roll Number: BSE183009
### 'Session 01'

### In operator in Python
- in is used to check some charter are present in list or not <br>
- in will check for every value at every single index <br>

In [1]:
1 in [1,2,3]

True

In [3]:
'o' in 'python'

True

## While Loop

In [4]:
i =0 
while i<4:
    print(i)
    i+=1
    print("Loop is working")

0
Loop is working
1
Loop is working
2
Loop is working
3
Loop is working

### Note: 
i++ does not work in python use i+=1

In [5]:
i =0 
while i<4:
    print(i)
    i++
    print("Loop is working")

SyntaxError: invalid syntax (<ipython-input-5-15809f4ae61a>, line 4)

## Break

Break will break a loop when break will exit you from the loop

### contine

Continue will move your itternation to one more step

### For loop

In [6]:
#X is the list 
#x is a varaible
X =['You','need','Python']
for x in X:
    print(x)

You
need
Python

In [8]:
# range will take numbers from 1 to 11 and then adding them
sum=0
for x in range(1,11):
    sum += x

print(sum)

55

# Exercise 5

## 1. Conditional Structure:

In [12]:
x = input("Ho old are you? ")
x = int(x)
if x < 8:
    print(str(x) + 'Years old ...you are a bit too young')
elif x>=8 and x<19:
    print(str(x) + "years old... You must be a student")
else:
    print("You are all grown up!!")

Ho old are you? 25
You are all grown up!!

In [13]:
x= input("How much is 2*3 ? ")
x = int(x)
if x==2*3:
    print('Correct')
else:
    print('Incorrect')

How much is 2*3 ? 6
Correct

In [15]:
x= input("How much is 2*3 ? ")
x = int(x)
if x !=2*3:
    print('Correct')
else:
    print('Incorrect')

How much is 2*3 ? 6
Incorrect

In [20]:
x= input("How much is 2*3? ")
x = int(x)
y = ( x == 2*3)
if y:
    print('Correct!!')
else:
    print("Wrong")

How much is 2*3? 5
Wrong

# 2. Loop Structure:

## 2.1. for loops:

In [23]:
sum=0
for x in range(1,11):
    sum += x

print('The value of sum is:',sum)

The value of sum is: 55

In [24]:
sum= 0
for x in range(2,101,2):
    sum += x
print('Hello!! That is the sum of the ranger is: ', sum)

Hello!! That is the sum of the ranger is:  2550

In [25]:
sum=0
for x in range(1,101):
    if(x % 2 == 0):
        sum += x
print("Sum of all even number are:", sum)

Sum of all even number are: 2550

In [26]:
sum=0
for x in range(1,101):
    if(x % 2 != 0):
        sum += x
print("Sum of all odd number are:", sum)

Sum of all odd number are: 2500

In [27]:
sum =0
for x in range(1,101):
    if(x % 5 == 0):
        sum += x
print("Sum of all 5 multiples are:", sum)

Sum of all 5 multiples are: 1050

In [28]:
my_list =["Hello", "How", "are", "you"]
for x in my_list:
    print(x)

Hello
How
are
you

In [30]:
for i in range(2,10):
    for j in range(2,10):
        print("%d * %d = %2d" %(i,j,i*j))

2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 2 =  8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## 2.2. While loop:

In [32]:
counter = 0
sum = 0
while counter <11:
    sum += counter
    counter += 1
print("Sum of number between 1 and 10 are:", sum)

Sum of number between 1 and 10 are: 55

In [33]:
coounter =0 
sum =0
while counter < 1001:
    if counter % 5 ==0:
        sum += counter
    counter +=1
print("Sum of all od the multiple number are:", sum)

Sum of all od the multiple number are: 100485

In [41]:
# Multiplication table.
# A 'while' loop within another.
i = 1
while i < 9:
    i += 1
    j = 2
    while j < 11:
        print( "%1d * %1d = %20d " % ( i, j, i*j))
        j += 1

2 * 2 =                    4
2 * 3 =                    6
2 * 4 =                    8
2 * 5 =                   10
2 * 6 =                   12
2 * 7 =                   14
2 * 8 =                   16
2 * 9 =                   18
2 * 10 =                   20
3 * 2 =                    6
3 * 3 =                    9
3 * 4 =                   12
3 * 5 =                   15
3 * 6 =                   18
3 * 7 =                   21
3 * 8 =                   24
3 * 9 =                   27
3 * 10 =                   30
4 * 2 =                    8
4 * 3 =                   12
4 * 4 =                   16
4 * 5 =                   20
4 * 6 =                   24
4 * 7 =                   28
4 * 8 =                   32
4 * 9 =                   36
4 * 10 =                   40
5 * 2 =                   10
5 * 3 =                   15
5 * 4 =                   20
5 * 5 =                   25
5 * 6 =                   30
5 * 7 =                   35
5 * 8 =                   40
5 * 9 =                   45
5 * 10 =                   50
6 * 2 =                   12
6 * 3 =                   18
6 * 4 =                   24
6 * 5 =                   30
6 * 6 =                   36
6 * 7 =                   42
6 * 8 =                   48
6 * 9 =                   54
6 * 10 =                   60
7 * 2 =                   14
7 * 3 =                   21
7 * 4 =                   28
7 * 5 =                   35
7 * 6 =                   42
7 * 7 =                   49
7 * 8 =                   56
7 * 9 =                   63
7 * 10 =                   70
8 * 2 =                   16
8 * 3 =                   24
8 * 4 =                   32
8 * 5 =                   40
8 * 6 =                   48
8 * 7 =                   56
8 * 8 =                   64
8 * 9 =                   72
8 * 10 =                   80
9 * 2 =                   18
9 * 3 =                   27
9 * 4 =                   36
9 * 5 =                   45
9 * 6 =                   54
9 * 7 =                   63
9 * 8 =                   72
9 * 9 =                   81
9 * 10 =                   90

In [42]:
i =1
while i<9:
    i+=1
    for j in range(1,10):
        print("%d* %d= 2%d" %(i,j,i*j))
    j +=1

2* 1= 22
2* 2= 24
2* 3= 26
2* 4= 28
2* 5= 210
2* 6= 212
2* 7= 214
2* 8= 216
2* 9= 218
3* 1= 23
3* 2= 26
3* 3= 29
3* 4= 212
3* 5= 215
3* 6= 218
3* 7= 221
3* 8= 224
3* 9= 227
4* 1= 24
4* 2= 28
4* 3= 212
4* 4= 216
4* 5= 220
4* 6= 224
4* 7= 228
4* 8= 232
4* 9= 236
5* 1= 25
5* 2= 210
5* 3= 215
5* 4= 220
5* 5= 225
5* 6= 230
5* 7= 235
5* 8= 240
5* 9= 245
6* 1= 26
6* 2= 212
6* 3= 218
6* 4= 224
6* 5= 230
6* 6= 236
6* 7= 242
6* 8= 248
6* 9= 254
7* 1= 27
7* 2= 214
7* 3= 221
7* 4= 228
7* 5= 235
7* 6= 242
7* 7= 249
7* 8= 256
7* 9= 263
8* 1= 28
8* 2= 216
8* 3= 224
8* 4= 232
8* 5= 240
8* 6= 248
8* 7= 256
8* 8= 264
8* 9= 272
9* 1= 29
9* 2= 218
9* 3= 227
9* 4= 236
9* 5= 245
9* 6= 254
9* 7= 263
9* 8= 272
9* 9= 281

# Functions

In [48]:
# OS functin will help us to manpulate with the OS files
import os
# to find your current direct
os.getcwd()

# list all of directories 
os.listdir('.')

# to change the directories
#os.chdir('..')

# to find your current direct
a=os.getcwd()
print(os.listdir(a))

['Class Work', 'Home Notes and Pratice', 'Exercises', 'Required Files', 'Quizes']

## User defined Functions

In [50]:
# Normal Funcions in every language 
def sum1(a,b):
    c= a+b
    return c
def product1(a,b):
    d= a*b
    return d
def divide2(a,b):
    e= a/b
    return e
def subtract(a,b):
    f= a-b
    return f
a= input("Enter a Number: ")
b = input("Enter second Number: ")
sum(a,b)

Enter a Number: 5
Enter second Number: 5

'55'

### Power Python with functions:
- using * you can sent as much parameter as you want with no limit.<br>
- You can do multiple maths operaters using one functions<br>
- You can aslo set the default values in the function. <br> 
- Default values will only work when no value is sent<br>
- The variable scope is do in python as well, If a vaiable is in function then it can be only be used within the function.<br>

In [61]:
# Python Power
# using * you can send as much parmaeter as user want.
def sum(*val):
    total =0
    for x in val:
        total +=x
    return total
sum(1,2,3)

6

In [60]:
# do more with one function
def maths(a,b):
    return a+b , a-b , a*b, a/b

maths(10,5)
type(maths(10,5))

tuple

In [64]:
def defaultvalue(a=6,b=7):
    return a+b, a-b, a*b, a/b

defaultvalue()

(13, -1, 42, 0.8571428571428571)

In [74]:
# Global and Local Variables
result= 333
def average(*a):
    result = 0
    for x in a:
        result = result / len(a)
    return result
print(average(10,50,67))
print(result)

0.0
333

### Find about filter functions and Maps function.

### Lambda Function:
- lambda is a function it self.<br>
- It will create one object and will store it's own value and second value will be sent by the user so lambda will get both values and through an answer

In [78]:
# Example 1:
def makeMyFunc(a):
    return lambda x: a*x

# this is th fix values and the object is fixed
myfunc = makeMyFunc(3)
# the value will be sent by the user
myfunc(4)

12

In [90]:
# Exmaple 2:
a = input("Enter a value: ")
cube = lambda a: a*a*a 
print(cube(5))

Enter a value: 5
125

In [9]:
# Example 3:
a = input("Enter a Value: ")
b = int(a)
x= 5
sum = lambda x: x+b
sum(b)

Enter a Value: 5

10

## Importing Multiple Files in another file usinf import
In this files are being imported

In [10]:
# Importing Files in python
import rafay as march

In [12]:
a = input("Enter a Value: ")
b = int(a)
c = march.cube(b)
type(c)
print(c)

Enter a Value: 5
125

## check the function do you have all of the requird functions or not

In [2]:
import rafay as march
if __name__ == "__main__":
    print(march.summ(4,5))
    print(march.evenOdd(2))

9
even
None

# Coding Exercise 06

## 1. Functions

### 1.1: User-defined Functions(UDFs):
A function will input arguments and a returned value

In [3]:
def prod(a,b):
    x = a*b
    return x
prod(3,4)

12

A function without input arrguments:

In [5]:
def output():
    return "Hello world"
print(output())

Hello world

A function without input argument nor returned value:

In [10]:
sum_total = 0
def increase():
    global sum_total
    for i in range(11):
        sum_total += i
increase()
sum_total

55

A function without returned value

In [11]:
def times3(a):
    print(3*a)
    return
times3(7)

21

A function with undetermined number of input arguments

In [16]:
def sum_up(*vals):
    total = 0
    for x in vals:
        total += x
    return total

In [14]:
sum_up(1,2,3)

6

In [15]:
sum_up(1,2,5,6,7,8,)

29

A function with multiple return values:

In [17]:
def maths(a,b):
    return a+b, a-b, a*b, a/b
type(maths)
maths(10,22)

(32, -12, 220, 0.45454545454545453)

Default values for the input arguments:

In [19]:
def maths(a= 5,b=7):
    return a+b, a-b, a*b, a/b
type(maths)
maths(10,22)

(32, -12, 220, 0.45454545454545453)

In [20]:
maths(3)

(10, -4, 21, 0.42857142857142855)

In [21]:
maths(b=3)

(8, 2, 15, 1.6666666666666667)

A local variable's scope is limited to the function body where it is defined:

In [22]:
# 'result' inside of the function body and 'result' outside of it are different variables.
result = 333
def average(*a):
    result = 0 
    for x in a:
        result += x
    result /= len(a)
    return result

In [23]:
average(1,2,3,4,5)

3.0

### 1.2: lambda Function

In [24]:
# This function returns a lambda function.
def makeMyFunc(a):
    return lambda x: a*x

In [25]:
myFunc = makeMyFunc(3)
type(myFunc)

function

In [26]:
myFunc(4)

12

Lambda function with map() and filter():

In [27]:
list(map(lambda x: x * 2, a))

NameError: name 'a' is not defined

In [28]:
list(filter(lambda x: x % 3 ==0, a))

NameError: name 'a' is not defined

## 1.3: Custom Modules:

In [ ]:
import myModule as md

In [ ]:
md.sum(3,4)

In [ ]:
md.product(4,5)

In [30]:
print("End of Exercise")

End of Exercise

# 3.3 Python input & Output:

## Input from User and then Output the result

In [32]:
# you must convert String into int
x = input("Enter a number")
y = input("Enter a second Number")
x= int(x)
y= int(y)

print(x+y)

Enter a number5
Enter a second Number6
11

## File Read and Write:

### Read File

In [34]:
# w will create a file if not present and then it will write some data into the file as well
f =open('rafay.txt','w')

In [36]:
# r will ready the file and once read is complete it must be store the data in a varaible
# the print that varaible to display the file data
f= open('rafay.txt','r')
data= f.read()
print(data)

Hello World who are you

In [43]:
# readlines will print data line by line using the loop
f= open('rafay.txt','r')
data= f.readlines()
for line in data:
    print(line)
type(line)

Rafay "Who are you"

Moeez "I am good"

Moeez "What about you, Are you okay?"

Rafay "Yeah, I am good"

str

In [45]:
# this will check do you have some data in the file if there is no data in the file then it will exit the file
f= open('rafay.txt','r')
while True:
    lines= f.readline()
    if not lines:
        break
    print(lines)

Rafay "Who are you"

Moeez "I am good"

Moeez "What about you, Are you okay?"

Rafay "Yeah, I am good"

### Write File:

### From the user

In [59]:
#f= open('rafay.txt','w') 
#f.write(raw_input("Enter some data to fale into the file: "))
#f.close
#print("Data is Saved in the file")

saveFile = open('rafay.txt', 'w')

text = input('What Do You Want To Write To Your File? ')
saveFile.write(text)

saveFile.close()

What Do You Want To Write To Your File? Rafay hello babay

# Unit 4: Python Object Oriented Programming