## Quiz #0202

Name: Mohammad Abdul Rafay<br>
Roll Number: BSE183009

In [3]:
import pandas as pd
import numpy as np
import os

#### Read in the data.

In [4]:
# Go to the directory where the data file is located. 
# os.chdir(r'~~')                # Please, replace the path with your own.

In [5]:
df = pd.read_csv('data_census.csv', header='infer')

In [6]:
df.shape

(281, 6)

In [9]:
df.head(10)

,ProvinceCode,CityCode,Population,Households,PersonsHousehold,GenderRatio
0,109,1001,10078850,4197478,2.40,0.97
1,109,1188,155695,72882,2.14,0.98
2,109,1189,126817,59614,2.13,1.00
3,109,1158,235186,108138,2.17,0.94
4,109,1105,298145,126915,2.35,0.99
5,109,1032,362197,158769,2.28,0.97
6,109,1065,362604,160110,2.26,1.01
7,109,1190,417976,177077,2.36,1.00
8,109,1106,464176,192670,2.41,0.96
9,109,1006,333523,141325,2.36,0.97

#### Answer the following questions using Pandas library.

1). Total population of ProvinceCode equal to 115 and 116:

In [15]:
print('Total Population for code 115')
total_population_115=df[(df.ProvinceCode== 115)]
total_population_115 = df.Population.sum()
print(total_population_115)
print(' ')
print('Total Population for code 116')
total_population_116=df[(df.ProvinceCode== 11)]
total_population_116 = df.Population.sum()
print(total_population_116)

Total Population for code 115
112833549

Total Population for code 116
112833549

2). Average population of the cities where there are more males (GenderRatio >1):

In [23]:
df
df.loc[:,'GenderRatio']
gender_avg=df[(df.GenderRatio >1)]
print(gender_avg.Population.mean())

419221.2076923077

3). Places with more males  (GenderRatio >1) and less than 2 persons per household:

In [32]:
gender_avg=df[(df.GenderRatio>1) & (df.GenderRatio <2)]
print(gender_avg)

The Answer is
     ProvinceCode  CityCode  Population  Households  PersonsHousehold  \
6             109      1065      362604      160110              2.26
18            109      1043      238367      104331              2.28
21            109      1027      512921      249481              2.06
38            108      1007       86771       35770              2.43
41            108      1089      240772       96928              2.48
..            ...       ...         ...         ...               ...
266           103      1010      252823      100073              2.53
267           103      1131      296521      115235              2.57
269           103      1230       69256       30798              2.25
278           115      1001      615250      251478              2.45
280           115      1096      160577       68769              2.34

     GenderRatio
6           1.01
18          1.04
21          1.02
38          1.08
41          1.04
..           ...
266         1.12
267         1.01
269         1.02
278         1.01
280         1.02

[130 rows x 6 columns]

4). Sort the DataFrame in ascending order of the 'Households'. Show the top 10.