In [1]:
import pandas as pd
import numpy as np
import nltk
from nltk.stem.porter import *
import re
from wordsegment import load, segment, clean
load() #loading segment
import matplotlib.pyplot as plt
from keras.preprocessing.sequence import pad_sequences
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import pairwise_distances
from sklearn.model_selection import train_test_split  
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler    
%matplotlib inline

In [42]:
df = pd.read_csv('Updated_Dataset_Friday.csv',header='infer')

In [43]:
df.shape

(31962, 2)

In [44]:
corp = df.tweets

In [45]:
TFIDF = TfidfVectorizer(max_features = 100, min_df = 2, max_df = 0.6)

In [46]:
TFIDF.fit(corp)

TfidfVectorizer(max_df=0.6, max_features=100, min_df=2)

In [47]:
X = TFIDF.transform(corp)

In [48]:
X.shape

(31962, 100)

In [49]:
print(TFIDF.get_feature_names())

['about', 'all', 'am', 'amp', 'an', 'and', 'are', 'as', 'at', 'be', 'beautiful', 'best', 'bih', 'but', 'by', 'can', 'cant', 'day', 'days', 'do', 'dont', 'family', 'fathers', 'first', 'follow', 'for', 'friday', 'friends', 'from', 'fun', 'get', 'go', 'good', 'great', 'happy', 'has', 'have', 'he', 'healthy', 'how', 'if', 'im', 'in', 'is', 'it', 'its', 'just', 'life', 'like', 'love', 'make', 'me', 'more', 'morning', 'music', 'my', 'need', 'new', 'no', 'not', 'now', 'of', 'on', 'one', 'or', 'orlando', 'our', 'out', 'people', 'positive', 'see', 'smile', 'so', 'summer', 'take', 'thankful', 'that', 'the', 'there', 'they', 'this', 'time', 'to', 'today', 'up', 'us', 'user', 'want', 'was', 'we', 'weekend', 'what', 'when', 'who', 'will', 'with', 'work', 'world', 'you', 'your']

# SVM

In [53]:
ClassLabel = df['ClassLabel']

In [11]:
y = df.ClassLabel

In [33]:
makingNewCSV = X.toarray()

In [34]:
df2_Final_Data_set_TFIDF = pd.DataFrame(makingNewCSV)

In [37]:
df2_Final_Data_set_TFIDF.shape

(31962, 100)

In [38]:
df2_Final_Data_set_TFIDF.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.0,0.000000,0.0,0.0,0.0,0.285398,0.0,0.0,0.0,0.0,...,0.0,0.0,0.411679,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
1,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
2,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.543573
3,0.0,0.387788,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.362636,0.0,0.0,0.0,0.000000
4,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000

In [67]:
df2_Final_Data_set_TFIDF.to_csv(r'C:\Users\bse183010\SIC Project\Final_TFIDF_Matrix.csv', index = False, header=True)

In [68]:
Final_CSV_Labels = ClassLabel

In [81]:
 Heres_the_final_List = Final_CSV_Labels.tolist()

In [86]:
Heres_the_final_List = pd.DataFrame(Heres_the_final_List)

In [88]:
Heres_the_final_List.shape

(31962, 1)

In [89]:
### SVM Here

In [95]:
x_train, x_test, y_train, y_test= train_test_split(df2_Final_Data_set_TFIDF, Heres_the_final_List, test_size= 0.3, random_state=0)

In [97]:
classifier = SVC(kernel='linear', random_state=0)  
classifier.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVC(kernel='linear', random_state=0)

In [100]:
y_pred= classifier.predict(x_test)

In [101]:
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, y_pred)

In [102]:
cm

array([[8954,    0],
       [ 635,    0]], dtype=int64)