### Date: 29 Sep 2021
### Day: Wednesday 
### Lecture 03
### Session 01

## String Data Type

In [20]:
x="One Attack"
print(x)
# strip space from left side
print(x.lstrip())
# strip spac from right side
print(x.rstrip())
# strip spca from both sides
print(x.strip())

One Attack
One Attack
One Attack
One Attack

## Boolean Data Type

1) There are only two values in boolean TRUE or FALSE <br> 
2) When you are writing True or False the first letter must be captial <br>
3) You can use boolean with the if else statement <br>
4) 0 Represent the False and 1 represent True

### Truth Table

In [21]:
True and True

True

In [22]:
True or False

True

In [23]:
False and True

False

###  Class Exercise:

#### 1.Number:

1.1 Operations with Numbers

In [29]:
1+1

2

In [30]:
2**3

8

In [31]:
8%5

3

In [32]:
8.0//5.0

1.0

#### 2. String

2.1 Basic

In [34]:
print("He said 'Python is very easy'")
print("He said 'Python is very Good'")

He said 'Python is very easy'
He said 'Python is very Good'

In [42]:
my_string= """Hello Name 
is
Rafay
and
My Brother
Name 
is 
Moeez 
and 
Muqeet"""
print(my_string)

Hello Name
is
Rafay
and
My Brother
Name
is
Moeez
and
Muqeet

2.2 Operating with String

In [46]:
str1 = 'First Meeting'
str2 = ' Second Meeting'
print(str1 + str2)

First Meeting Second Meeting

In [47]:
str1='Hello baby!!'
print(str1*5)

Hello baby!!Hello baby!!Hello baby!!Hello baby!!Hello baby!!

2.3: Indexing and Silicing String

In [62]:
str1 = 'Life is too short,You need to learn Python!'
print(str1[0])
print(str1[3])
print(str1[0:4])
print(str1[5:1])

L
e
Life

2.4: Function and Methods for String objects

In [64]:
x= 'Python'
# check the length of the string
print(len(x))

6

In [65]:
# counting the word that is asked by the user
x.count('h')

1

In [66]:
# to turn all CAPS into lower caps
x.lower()

'python'

In [68]:
# to turn all lower caps into CAPS
x.upper()

'PYTHON'

In [72]:
# The find function will find the char in the string where as index will find the index of the char.
# if the index of a char is not present then idex will through an error
x.find('o')

4

In [73]:
x.find('w')

-1

In [75]:
# Index will locate and will display the index of the char
x.index('o')

4

In [77]:
# As you can see index as through an error because was not present in the memory
x.index('w')

ValueError: substring not found

In [78]:
# will spilt each word
x = 'Hello World!! Python is great and I will learn it'
x.split(' ')

['Hello',
 'World!!',
 'Python',
 'is',
 'great',
 'and',
 'I',
 'will',
 'learn',
 'it']

In [79]:

y = x.split(' ')
a = ' '
print(a.join(y))

Hello World!! Python is great and I will learn it

## 3. Boolean:

### AND Operator

In [80]:
False and False

False

In [132]:


False and True

False

In [134]:
True and False

False

In [138]:
True and True

True

In [136]:
(3 > 2) and (5 < 4)

False

In [137]:
(3 > 2) and (5 > 4)

True

### OR Operator

In [139]:
False or False

False

In [140]:
True or False

True

In [141]:
False or True

True

In [142]:
False or True

True

In [143]:
True or True

True

### NOT Operator

In [144]:
not True

False

In [145]:
not False

True

In [146]:
not (4 > 2)

False

In [147]:
not (4 > 2)

False


3.2. Implicit Boolean:

In [151]:
x = []
y = [1,2,3]

In [152]:
if x:
    print('Not empty.')
else:
    print('Empty!')

Empty!

In [153]:
if y:
    print('Not empty.')
else:
    print('Empty!')

Not empty.

# List

In [83]:
# Display all elements
a = [5,6,4,8,9]
a[:]

[5, 6, 4, 8, 9]

In [94]:
a= [1,2,3,['a','b','c'],4,5]
print(a[3:5])

[['a', 'b', 'c'], 4]

In [95]:
# while printing it will not consider the last index
print(a[3][:2])

['a', 'b']

In [96]:
# Concatenation
a = [5,6,4,8,9]
b= [8,7,6,9,10]
c = a+b
print(c)

[5, 6, 4, 8, 9, 8, 7, 6, 9, 10]

In [109]:
# while replaing after the range is over then it will place the value at the end of the string
a =[1,7,3]
a[1:3]
a[1:3] =[3,5,7]
print(a)

[1, 3, 5, 7]

# Session 02

#### List Inside a  list

In [111]:
# List inside a list
# In this we will find the index and then go to that index and then replace the value with an list 
a =[1,7,3]
a[2] =[3,5,7]
print(a)

[1, 7, [3, 5, 7]]

#### Delete a value from list using in index

1) Delete one value from the list

In [115]:
# this will delete an value at the given index
a= [1,6,6,8,0]
del a[4]
print(a)

[1, 6, 6, 8]

2) Delete alot items from list using the range.

In [ ]:
# In this we can also remove a part of the list
b= [7,8,0,7,12,16]
del b[1:4]
print(b)

# Function is the list

## Sort Function

1) Sort Problem

In [116]:
# sort function will not work with different data type
# Data TYpe must be same
a= [5,7,1,'a','b']
a.sort()
print(a)

TypeError: '<' not supported between instances of 'str' and 'int'

2) Sort the List in deceding order

In [120]:
a =[5,6,8,1,0]
a.sort(reverse=True)
print(a)

[8, 6, 5, 1, 0]

3) Sort the list using accesding order

In [121]:
a =[5,6,8,1,0]
a.sort()
print(a)

[0, 1, 5, 6, 8]

## Append Function

1) Adding one value using append

In [123]:
a =[5,6,8,1,0]
a.append(10)
print(a)

[5, 6, 8, 1, 0, 10]

2) Problem with Append & Add list inside an list using append

In [126]:
# Append can only add one value at a time,
# if more then one values are added then append will add then as a list so list inside a list.
a =[5,6,8,1,0]
a.append(4)
a.append([10,5])
print(a)

[5, 6, 8, 1, 0, 4, [10, 5]]

# Reverse Function

In [127]:
a =[5,6,8,1,0]
a.reverse()
print(a)

[0, 1, 8, 6, 5]

# Sorted Function

#### Difference Between Sort() and Sorted() 
**1) Sorted() function** <br>
The only difference is that sorted will only show that the values are sorted but in realitty the values will not be sorted.<br> 
The main list will not change.<br>
**2) Sort() function**
The sort function will sort all of the values in a list.<br>
The main list will be changed

In [131]:
a =[5,6,8,1,0]
sorted(a)
print(sorted(a))
print(a)

[0, 1, 5, 6, 8]
[5, 6, 8, 1, 0]

# New Topic

# Tuple

1) Tuple Inside a list

In [160]:
List =[1,4,5,7]
Tuple = (3,5,2)
List.append(Tuple)
print(List)

[1, 4, 5, 7, (3, 5, 2)]

2) List inside a Tuple

In [161]:
# You can not add a list inside a tuple using append 
# because the values in the tuple does not change
List =[1,4,5,7]
Tuple = (3,5,2)
Tuple.append(List)
print(Tuple)

AttributeError: 'tuple' object has no attribute 'append'

3) You can place a list inside a tuple whenyou are declaring the tuple but once done then the values can not be changes

In [162]:
Tuple = (3,5,2,[4,5,7])
print(Tuple)

(3, 5, 2, [4, 5, 7])

4) Tuple inside a tuple is possiable
Only you can find a tuple inside a tuple at the point of decleartion

In [163]:
Tuple = (3,5,2,(4,5,7))
print(Tuple)

(3, 5, 2, (4, 5, 7))

5) Deleteing the values is not possiable <br>
You can only delete the whole object not the element.<br>

In [167]:
Tuple = (3,5,2,(4,5,7))
del Tuple

# New Topic

# Dictionary

1) Dictionary is the collection of key and the values in pir<br>
2) Data is accessed using the Keys in the dictionary like primary key in the database<br>
3) You can use normal function to get the data from the dictionary.<br>
4) Key used {} brackets,<br>
5) Dictionary is not used that much but when needded it can help throug<br>

#### Geneating the basic Code:

In [169]:
a = {}
b = {'Name':'James','Gender':'Male','Age':45}
c = {1:'Life', 2: 'is', 3: 'Short'}
print (b)
print(c)

{'Name': 'James', 'Gender': 'Male', 'Age': 45}
{1: 'Life', 2: 'is', 3: 'Short'}

#### List inside a dictinary
1) You can create a list inside a dictionary

In [171]:
a = {}
b = {'Name':'James','Gender':'Male','Age':45}
c = {1:'Life', 2: 'is', 3: 'Short'}
d = {1:'Life', 2: 'is', 3: [1,4,5] }
print(d)
print (b)
print(c)

{1: 'Life', 2: 'is', 3: [1, 4, 5]}
{'Name': 'James', 'Gender': 'Male', 'Age': 45}
{1: 'Life', 2: 'is', 3: 'Short'}

#### Tuple inside a  Disctionary
Is it possiable?? Yes, it is.

In [172]:
a = {}
b = {'Name':'James','Gender':'Male','Age':45}
c = {1:'Life', 2: 'is', 3: 'Short'}
d = {1:'Life', 2: 'is', 3: (1,4,5) }
print(d)
print (b)
print(c)

{1: 'Life', 2: 'is', 3: (1, 4, 5)}
{'Name': 'James', 'Gender': 'Male', 'Age': 45}
{1: 'Life', 2: 'is', 3: 'Short'}

### Dictionary inside a dictionary

In [175]:
a = {}
b = {'Name':'James','Gender':'Male','Age':45}
c = {1:'Life', 2: 'is', 3: 'Short'}
d = {'x':[1,2,3], 'y': [4,5,6]}
e = {1:'d',3:'e'}
print(a)
print (b)
print(c)
print(d)
print (e)

{}
{'Name': 'James', 'Gender': 'Male', 'Age': 45}
{1: 'Life', 2: 'is', 3: 'Short'}
{'x': [1, 2, 3], 'y': [4, 5, 6]}
{1: 'd', 3: 'e'}

#### Calling some parts using the Key in Distionary

In [186]:
b['Name']
e[1]

'd'

### Adding Values in the Dictionary

In [189]:
b= {}
b['Name']="Rafay"
b['Age']=67
b['Gender']="Male"
print(b)

{'Name': 'Rafay', 'Age': 67, 'Gender': 'Male'}

## Check the number of keys

In [190]:
b.keys()

dict_keys(['Name', 'Age', 'Gender'])

## Check the values in the key:
You can use print function or the items functions

In [193]:
b.items()

dict_items([('Name', 'Rafay'), ('Age', 67), ('Gender', 'Male')])

## Get a Specific Value from the Dictionary

1) Fetch the value using the key only

In [196]:
b.get('Name')

'Rafay'

### In Functions in Dictionary
in will tell you that Key exist or not in the dictionary.

# Sets

## Basic Concept:
1) Elements are not repearted <br>
2) There is no concept of ordring(sorting) or indexing <br>
3) Set is the collection of Data <br>

<br>

In [202]:
set1= set([1,4,5,6])
set1

{1, 4, 5, 6}

# Coding Exercise 03

## 1: List

### 1.1: Creating List

In [204]:
x= [1,3,True, False, 'Hello', [5,6,7,]]
type(x)

list

In [206]:
# this calculate the range from the given list
range(1,5)

range(1, 5)

In [208]:
# This will list the range
x = list(range(1,5))
x

[1, 2, 3, 4]

In [209]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [210]:
list(range(0,21,5))

[0, 5, 10, 15, 20]

### 1.2: Indexing and Slicing list

In [212]:
x = [1,2,['life','is']]
x[1]

2

In [213]:
# Accessing value using the index from the list 
x[2]

['life', 'is']

In [214]:
# Accessing the data from the list inside a list
x[2][1]

'is'

In [216]:
# the process is that the counter will go to the provided index and at 
# that idex will print the value from the list
x =[1,2,3,['a','b','c'],4,5]
x[3][:2]

['a', 'b']

### 1.3: Opeeration with the lists:

In [217]:
a=[1,2,3]
b= [4,5,6]
a+ b

[1, 2, 3, 4, 5, 6]

In [218]:
x = [1, 2, 3]
x*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 1.4: Changing the content:

In [219]:
# the counter will go the index and will change the value according to 
#the user
x= [1,2,3]
x[1] = -1
x

[1, -1, 3]

In [220]:
x[1:2] =[3,5,7,9,11]
x

[1, 3, 5, 7, 9, 11, 3]

In [232]:
# Changing somepart of the list
x = [1, 2, 3]
x[1:2] = [-1, -2, -3]
x

[1, -1, -2, -3, 3]

In [233]:
# Changing some elements of the list
x = [1, 2, 3]
x[1] = [-1, -2, -3]
x

[1, [-1, -2, -3], 3]

### 1.5: Deleting List

In [235]:
# Deleteing part of the list
x= [1,3,2,4,5,6,7,8,9]
x[1:3] =[]
x

[1, 4, 5, 6, 7, 8, 9]

In [236]:
# Delete some values at  index from the list
x= [1,3,2,4,5,6,7,8,9]
del x[2]
x

[1, 3, 4, 5, 6, 7, 8, 9]

### 1.6: Functions in the List:

In [237]:
# checking the length of the lsit
x= [1,3,2,4,5,6,7,8,9]
len(x)

9

In [238]:
#adding values in the list using append function
x= [1,3,2,4,5,6,7,8,9]
x.append(4)
x.append([5,6])
x

[1, 3, 2, 4, 5, 6, 7, 8, 9, 4, [5, 6]]

In [243]:
# Now we will reverse the list
x= [1,3,2,4,5,6,7,8,9]
x.reverse()
x

[9, 8, 7, 6, 5, 4, 2, 3, 1]

In [244]:
# now we will sort the list
x= [1,3,2,4,5,6,7,8,9]
x.sort()
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [245]:
# now we will sorted reverse the list
x= [1,3,2,4,5,6,7,8,9]
x.sort(reverse=True)
x

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [246]:
# now we will sort the list
x= [1,3,2,4,5,6,7,8,9]
sorted(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [247]:
x

[1, 3, 2, 4, 5, 6, 7, 8, 9]

## 2: Tuple:

### 2.1: Creating Tuple

In [248]:
x = (1, 3, True, False, 'Hello', [3,5,7])
type(x)

tuple

In [249]:
# checking the range in the tuple
x= tuple(range(1,5))
x

(1, 2, 3, 4)

### 2.2:  Indexing And Slicing Tuple:

In [250]:
x = (1, 2, ('Life', 'is'))
x[2]

('Life', 'is')

In [251]:
x[2][1]

'is'

In [252]:
x = (1, 2, 3, ['a', 'b', 'c'], 4, 5)
x[3][:2]

['a', 'b']

### 2.3: Operation with Tuples:

In [ ]:
a = (1, 2, 3)
b = (4, 5, 6)
a + b

In [253]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## 3: Dictionary

### 3.1: Creating Dicctionaries:

In [263]:
d = {'x':[1,2,3], 'y':[4,5,6]}

In [264]:
d['x']

[1, 2, 3]

In [261]:
x['y']

TypeError: tuple indices must be integers or slices, not str

### 3.2: Adding key Values

In [260]:
d = {}
d['name'] = 'John'
d['gender'] = 'Male'
d['age'] = 23
d

{'name': 'John', 'gender': 'Male', 'age': 23}

In [259]:
del d['age']
d

{'name': 'John', 'gender': 'Male'}

In [255]:
d['name'] = 'Andrew' 
d

{'x': [1, 2, 3], 'y': [4, 5, 6], 'name': 'Andrew'}

### 3.3. Dictionary methods and operations:

In [256]:
d.keys()

dict_keys(['x', 'y', 'name'])

In [258]:
d.values()

dict_values(['John', 'Male', 23])

In [257]:
d.items()
d.clear()
d
d = {'name': 'John', 'gender': 'Male', 'age': 23} 
d.get('wage', 0)`

0

In [265]:
# Check whether 'name' is a key of d.
'name' in d
# Check whether 'wage' is a key of d.
'wage' in d

False

## 4: Sets:

### 4.1: Creating Sets:

In [266]:
b = set([1,2,3,3,3,3,4,5])
b

{1, 2, 3, 4, 5}

### 4.2: operations with Sets:

In [267]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([4, 5, 6, 7, 8])
s1 & s2

{4, 5}

In [269]:
s1.intersection(s2)

{4, 5}

In [270]:


s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [271]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [272]:
s1 - s2

{1, 2, 3}

In [273]:
s1.difference(s2)

{1, 2, 3}

In [274]:


a = set([1, 2, 3, 4, 5]) 
a.add(6)
a

{1, 2, 3, 4, 5, 6}

In [275]:
a.update([7, 8, 9])
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [276]:
a.remove(9)
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [277]:
print("End of Exercise")

End of Exercise