In [1]:
import pandas as pd
import numpy as np
import nltk
from nltk.stem.porter import *
import re
from wordsegment import load, segment, clean
load() #loading segment
import matplotlib.pyplot as plt
from keras.preprocessing.sequence import pad_sequences
%matplotlib inline

# Reading the dataset and Data Exploration

In [2]:
df = pd.read_csv('D2.csv',header = 'infer')

In [3]:
df

          id  label                                              tweet
0          1      0   @user when a father is dysfunctional and is s...
1          2      0  @user @user thanks for #lyft credit i can't us...
2          3      0                                bihday your majesty
3          4      0  #model   i love u take with u all the time in ...
4          5      0             factsguide: society now    #motivation
...      ...    ...                                                ...
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

[31962 rows x 3 columns]

In [4]:
print('number of rows and columns i.e. dimension of the dataset: ',df.shape)
print('\ncolumn names of the dataset: ',df.columns)

number of rows and columns i.e. dimension of the dataset:  (31962, 3)

column names of the dataset:  Index(['id', 'label', 'tweet'], dtype='object')

## Separating the tweets and class label

In [6]:
ClassLabel = df['tweet']
tweets = df.tweet

### Plotting the class label

In [ ]:
fig, ax = plt.subplots(figsize = (6, 6))
ax.spines['right'].set_visible(False)
ax.spines['top'].set_visible(False)
ax.spines['left'].set_visible(False)
plt.hist(ClassLabel, bins=5, color='Green', density=False, edgecolor='black')
plt.title('HateSpeech Classification Initial Histogram')
plt.xlabel('Classes \n0 - HateSpeech, 1 - Offensive Laguage')
plt.ylabel('Number of Tweets')
plt.show()

# Preprocessing

In [8]:
print(tweets)

0         @user when a father is dysfunctional and is s...
1        @user @user thanks for #lyft credit i can't us...
2                                      bihday your majesty
3        #model   i love u take with u all the time in ...
4                   factsguide: society now    #motivation
                               ...
31957    ate @user isz that youuu?ðððððð...
31958      to see nina turner on the airwaves trying to...
31959    listening to sad songs on a monday morning otw...
31960    @user #sikh #temple vandalised in in #calgary,...
31961                     thank you @user for you follow
Name: tweet, Length: 31962, dtype: object

In [9]:
corp = []
pat = re.compile('^[A-Za-z0-9]+')
patr = '([?ð\x9f\x98\x8dð\x9f\x98\x8dð\x9f\x98\x8dð\x9f\x98\x8dð\x9f\x98\x8dð\x9f\x98\x8dð\x9f\x98\x8dð\x9f\x98\x8dð\x9f\x98\x8dâ\x9d¤ï¸\x8f])+\x80¦'
for i in range(0,len(tweets)):
    New_String = re.sub(pat,'',tweets[i])
    New_String = "".join(New_String)
    New_String = re.sub(patr,'',tweets[i])
    New_String = "".join(New_String)
    corp.append(New_String)
print(corp)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [11]:
df1 = pd.DataFrame(corp)

In [12]:
df1['ClassLabel'] = ClassLabel 
df1.columns = ['tweets','ClassLabel']
df1.to_csv(r'/home/scarlet-speedester/Documents/Book1.csv', index = False, header=True)